<div style="position: relative; text-align: center">
  <!-- Puntuación -->
  <div
    style="
      position: fixed;
      top: 10px;
      right: 10px;
      background: #f8f9fa;
      border: 1px solid #ccc;
      border-radius: 5px;
      padding: 10px;
      font-family: Arial, sans-serif;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    "
  >
    <p style="margin: 0; font-size: 14px; color: green">
      <strong>Aciertos:</strong> {{ score }}
    </p>
    <p style="margin: 0; font-size: 14px; color: red">
      <strong>Fallos:</strong> {{ mistakes }}
    </p>
    <p style="margin: 0; font-size: 14px">
      <strong>Respondidas:</strong> {{ currentQuestionIndex }} /
      {{ currentQuestions.length }}
    </p>
    <p style="margin: 0; font-size: 14px">
      <strong>Porcentaje:</strong>
      {{ (score / currentQuestions.length) * 100 | number : "1.1-1" }}%
    </p>
  </div>
</div>

<div>
  <button (click)="showDiv = !showDiv">
    {{ showDiv ? "Ocultar" : "Visualizar" }}
  </button>
  <button (click)="startNewQuiz()">Reiniciar</button>

  @if(showDiv){
  <div style="width: 70%" id="random">
    <h3>{{ currentQuestion?.question }}</h3>
    @for (answer of shuffledAnswers; track $index; let i= $index) {
    <li
      (click)="selectAnswer(i)"
      [class.correct]="answered && answer.isCorrect"
      [class.incorrect]="
        answered && selectedAnswerIndex === i && !answer.isCorrect
      "
      style="
        padding: 10px;
        margin: 5px 0;
        border: 1px solid #ccc;
        cursor: pointer;
        border-radius: 5px;
      "
    >
      {{ answer.text }}
    </li>
    } @if (answered && currentQuestionIndex < currentQuestions.length - 1) {
    <button (click)="nextQuestion()">Siguiente</button>
    }
  </div>
  }
</div>

<hr style="margin: 4rem" />

@for (item of allQuestions; track $index; let i = $index) {
<div style="width: 70%">
  <h2>{{ item.id }}. {{ item.question }}</h2>
  <ul style="list-style: none; padding: 0">
    @for (answer of item.answers; track $index; let j = $index) {
    <li
      (click)="selectAnswer2(i, j)"
      [class.correct]="selectedAnswers[i] === j && j === item.correctAnswer"
      [class.incorrect]="selectedAnswers[i] === j && j !== item.correctAnswer"
      style="
        padding: 10px;
        margin: 5px 0;
        border: 1px solid #ccc;
        cursor: pointer;
        border-radius: 5px;
      "
    >
      {{ answer }}
    </li>
    }
  </ul>
</div>
}
