@if (!showQuiz) {
<div>
  <h2>Seleccionar Modo</h2>
  <button (click)="startMode('random')">Modo Aleatorio</button>
</div>
} @if (showQuiz) {
<div>
  @if (!showStats) {

  <div>
    <h3>{{ currentQuestion?.question }}</h3>
    @for (answer of shuffledAnswers; track $index; let i = $index) {

    <div
      [class.correct]="answered && answer.isCorrect"
      [class.incorrect]="
        answered && selectedAnswerIndex === i && !answer.isCorrect
      "
      (click)="selectAnswer(i)"
    >
      {{ answer.text }}
    </div>
    } @if (answered && currentQuestionIndex < currentQuestions.length - 1) {
    <button (click)="nextQuestion()">Siguiente</button>
    }
  </div>
  } @if (showStats) {

  <div>
    <h2>Resultados</h2>
    <p>Puntaje: {{ score }} / {{ currentQuestions.length }}</p>
    <p>
      Porcentaje:
      {{ (score / currentQuestions.length) * 100 | number : "1.1-1" }}%
    </p>
    <button (click)="startNewQuiz()">Reiniciar</button>
    <button (click)="showQuiz = false">Cambiar Modo</button>
  </div>
  }
</div>
} @for (item of allQuestions; track $index; let i = $index) {
<div style="width: 70%">
  <h2>{{ item.id }}. {{ item.question }}</h2>
  <ul style="list-style: none; padding: 0">
    @for (answer of item.answers; track $index; let j = $index) {
    <li
      (click)="selectAnswer2(i, j)"
      [class.correct]="selectedAnswers[i] === j && j === item.correctAnswer"
      [class.incorrect]="selectedAnswers[i] === j && j !== item.correctAnswer"
      style="
        padding: 10px;
        margin: 5px 0;
        border: 1px solid #ccc;
        cursor: pointer;
        border-radius: 5px;
      "
    >
      >
      {{ answer }}
    </li>
    }
  </ul>
</div>
}
